.itemname{
	width: 100%;
	height:47px;
	border-bottom: 1px solid #f7f7f7;
	margin-bottom: 23px;
}

.itemname .mid{
	width:915px;
	height: 47px;
	margin: 0px auto;
	line-height: 47px;
	color:#1b1b1b;
	font-size:20px;
}

div[class^="step"]{
	width: 915px;
	overflow: hidden;
	margin: 0px auto;
}

div[class^="step"] .procedure{
	display: block;
	margin-bottom:30px;
}





.step1 {
	/*display: none;*/
}

.step1 p{
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
}

.step1 p span{
	color:#1b1b1b;
	font-size:14px;
	line-height: 30px;
}

.step1 p .account{
	width:350px;
	height:40px;
	border: 1px solid #b2b2b2;
	font-size: 14px;
	text-indent: 0.5em;
}

.step1 p .fillyanzhengma{
	float: left;
	width:180px;
	height:40px;
	border: 1px solid #b2b2b2;
	font-size: 14px;
	text-indent: 0.5em;
	margin-right:10px;
}

.step1 p small{
	float: left;
	width:102px;
	height:40px;
	border: 1px solid #b2b2b2;
	overflow: hidden;
	margin-right:10px;
}

.step1 p a{
	float: left;
	line-height: 40px;
	color:#de3b0a;
	font-size:15px;
}

.step1 p label.error{
	color: red;
	margin-left: 15px;
	font-size: 12px;
	line-height: 40px;
}

.step1 p button{
	width:354px;
	height:42px;
	background:#de3b0a;
	text-align: center;
	line-height:42px;
	color:white;
	font-size:18px;
	
}





.step2{
	display: none;
}

.step2 p{
	width: 100%;
	overflow: hidden;
}

.step2 p small{
	float: left;
	font-size: 14px;
	color: #1b1b1b;
	margin-bottom: 20px;
}

.step2 p big{
	float: left;
	font-size: 16px;
	margin-bottom: 30px;
}

.step2 p big.wordyanzhengma{
	margin-bottom:0px;
	line-height: 30px;
}

.step2 p strong{
	float: left;
	font-weight: normal;
	font-size: 16px;
	margin-left: 30px;
	margin-bottom: 30px;
}

.step2 p input{
	float: left;
	width:230px;
	height:40px;
	box-sizing:border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid #b2b2b2;
	margin-right:10px;
	text-indent: 0.5em;
	margin-bottom: 86px;
}

.step2 p a{
	float: left;
	width:124px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background: #f7f7f7;
	box-sizing:border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid #b2b2b2;
	margin-bottom: 86px;
}

.step2 p label.error{
	color: red;
	margin-left: 15px;
	font-size: 12px;
	line-height: 40px;
}

.step2 p button{
	width:362px;
	height:42px;
	background:#de3b0a;
	text-align: center;
	line-height:42px;
	color:white;
	font-size:18px;
}






.step3{
	display: none;
}

.step3 p{
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
}

.step3 p span{
	float: left;
	width: 95px;
	height: 40px;
	color:#1b1b1b;
	font-size:16px;
	line-height:40px;
}

.step3 p small{
	float: left;
	line-height:40px;
	color:#1b1b1b;
	font-size:14px;
}

.step3 p input{
	float:left;
	width:350px;
	height:40px;
	box-sizing:border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid #b2b2b2;
	text-indent: 0.5em;
}

.step3 p label.error{
	color: red;
	margin-left: 15px;
	font-size: 12px;
	line-height: 40px;
}

.step3 p button{
	width:354px;
	height:42px;
	background:#de3b0a;
	text-align: center;
	line-height:42px;
	color:white;
	font-size:18px;
}

























