@charset "UTF-8";

.preview img {
    display: block;
    width: auto;
    max-width: 100%;
    margin: 0 auto;
}

.preview {
    height: 345px;
    overflow: hidden;
}

.preview-default {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.preview-default img {
    width: 100%;
}

.lp-edit-container {
    padding-top: 60px;
    padding-bottom: 60px;

}

.btns-upload {
    margin-top: 15px;
}

.btns-upload button {
    width: auto;
    height: auto;
    /*border: 1px solid #cd3c1e;*/
}

.btns-upload button:hover {
    /*border: 1px solid #982c16;*/
}

.title-box .title {
    font-size: 26px;
    font-weight: 700;
    height: auto;
    line-height: 1.1;

}

.title-box {
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.icon-require {
    color: red;
    margin-right: 4px;
}

.lp-edit-container .control-label {
    font-weight: normal;
    padding-right: 0;
}

.lp-edit-container .teachers {
    list-style: none;
    margin: 0;
    padding: 0;
}

.lp-edit-container .col-error {
    padding-top: 7px;
    padding-left: 0;
}

.form-top-right .control-label {
    padding-left: 15px;
    width: 96px;
    float: left;
}

.lp-edit-container .form-top-right .btn-tool {
    padding-left: 10px;
}

.lp-edit-container .btn-tool {
    text-align: center;
}

.lp-edit-container .btn-tool button {
    width: auto;
    height: auto;
    border: 1px solid currentColor;
}

.lp-edit-container .btn-tool .btn-info {

}

.form-min-height138 {
    min-height: 138px;
}

.form-row {
    padding-bottom: 15px;
}

.form-bottom {
    padding-top: 15px;
    border-top: 1px solid #ddd;
}

.lp-edit-container .form-bottom .control-label {
    width: 128px;

}

.lp-edit-container .form-inline-row .error {
    padding-top: 7px;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    display: inline-block;
    padding-left: 20px;
    vertical-align: middle;
    cursor: pointer;
}

.lp-edit-container .form-checkbox-row .error, .lp-edit-container .form-radio-row .error {
    /*padding-top: 0;*/
    margin-top: -2px;
}

.lp-edit-container .form-checkbox-row .col-error, .lp-edit-container .form-radio-row .col-error {
    padding-top: 0;
}

.lp-edit-container label.error {
    margin-bottom: 0
}

.row-project-info {
    margin-bottom: 15px;
}

.row-project-info .col-w92 {
    padding-right: 0;
    width: 90px;
    height: 20px;
    line-height: 20px;
    text-align: right;
}

.project-edit-container .teachers {
    margin-top: 0
}

.project-edit-container .teachers > li {
    padding: 0;
}

.project-edit-container .teachers > li + li {
    margin-top: 8px;
}

.form-keyword .form-group {
    margin-bottom: 0;
}

.form-keyword .control-label {
    padding-right: 0;
    width: 90px;
}

.row-keyword {
    margin-top: 8px;
}

.col-offset-w92 {
    margin-left: 92px;
}

.row-keyword .keyword {
    display: inline-block;
    position: relative;
    padding: 4px 8px;
    min-width: 24px;
    line-height: 20px;
    border-radius: 13px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background-color: #df4526;
    border: 1px solid #fff;
    margin-right: 8px;
}

.row-keyword .keyword > span {
    display: inline-block;
    max-width: 110px;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    overflow: hidden;
}

.row-keyword .delete-keyword {
    display: none;
    position: absolute;
    right: -6px;
    top: -8px;
    font-size: 20px;
    color: #333;
    opacity: .6;
    text-decoration: none;
}

.row-keyword .keyword:hover .delete-keyword {
    display: block;
}

.row-keyword .keyword .delete-keyword:hover {
    opacity: .8
}

.project-edit-container .form-bottom .control-label {
    width: 98px;
}

.btn-primary-oe {
    color: #fff;
    background-color: #df4526;
    border-color: #cd3c1e;
}

.btn-primary-oe:hover, .btn-primary-oe:focus {
    color: #fff;
    background-color: #b7351b;
    border-color: #982c16;
}

.delete-teacher {
    display: none;
    color: #333;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    opacity: .6;
    text-decoration: none;
    vertical-align: middle;
}

.delete-teacher:hover, .delete-teacher:focus {
    color: #333;
    opacity: .8;
    text-decoration: none;
}

.lp-edit-container .teachers > li {
    font-size: 0;
    margin-bottom: 8px;
    white-space: nowrap;
}

.lp-edit-container .teachers > li:first-child {
    margin-bottom: 0;
}

.lp-edit-container .teachers > li:hover .delete-teacher {
    display: inline-block;
}

.lp-edit-container .teachers span {
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
}

.lp-edit-container .teachers .name {
    width: 60px;

}

.lp-edit-container .teachers .school-name {
    width: 160px;
}

.lp-edit-container .teachers .position {
    width: 60px;
}

.courseware-preview {
    line-height: 30px;
    height: 30px;
    margin-bottom: 5px;
}

.lesson-edit-container .teachers {
    height: 81px;
    overflow: hidden;
}

.project-edit-container .teachers span:first-child {
    width: 60px;
}

.bd-ueditor-iframe {
    height: 400px;
}

.error1 {
    background: url(images/unchecked.gif) no-repeat 0px 0px;
    padding-left: 18px;
    padding-bottom: 2px;
    font-weight: bold;
    color: #EA5200;
    margin-left: 10px;
}

.form-inline-publish {
    font-size: 0;
    margin-bottom: 15px;
}

.form-inline-publish .control-label {
    font-weight: normal;
    width: 83px;
    text-align: right;
    margin-right: 15px;
    font-size: 14px;
}

.form-inline-publish .form-group {
    margin-right: 30px;
}