    * { margin: 0; padding: 0; }
    body { font-family: "Microsoft Yahei"; font-size: 16px; }

    #mask_shadow {
      display: none;
      opacity: 0;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .5);
    }
    #popup {
      display: none;
      opacity: 0; 
      position: absolute;
      z-index: 2;
      top: 150px;
      width: 600px;
      height: 190px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
    #popup .title {
      position: relative;
      width: 100%;
      height: 55px;
      background-color: #5bc0de;
      cursor: move;
    }
    #popup .title p {
      padding-left: 14px;
      line-height: 55px;
      color: #fff;
    }
    #popup .title span {
      position: absolute;
      top: 12px;
      right: 20px;
      width: 30px;
      height: 30px;
      color: #000;
      opacity: .2;
      font-size: 21px;
      cursor: pointer;
      text-align: center;
      border: 1px solid #333;
    }
    #popup .title span:hover {
      opacity: .8;
    }
    #popup .cont { width: 100%; height: 135px; background-color: #EDEDED;    }
    #btn1 {
      margin: 30px;
    }

    #popup .cont .conts{
        padding:26px 10px;
        text-align: center;
    }

    #popup .cont .conts span{
        font-size: 16px;
        color:#848484;
    }

    #popup .cont .conts select {
        border:1px solid #8E8E8E;
        width:148px;
        max-width: 240px;
        height: 30px;
        font-size: 15px;
        cursor:pointer;
        border-radius: 3px;
    }
    #popup .cont  .buttom{
        text-align: center;
        padding: 10px;
    }
    #popup .cont  .buttom .bt,.cnacle{
         padding:5px 20px;
         margin:0 10px;
         color:#FFF;
         border-radius: 3px;
         background:#4876FF;
         cursor:pointer;
    }