@charset "UTF-8";
textarea {
  resize: none; }

label {
  font-weight: normal; }

.control-label i {
  color: red;
  font-weight: normal;
  font-style: normal;
  margin-right: 4px; }

.form-horizontal .form-radios > span, .form-horizontal .form-checkboxs > span {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px; }

.form-radios > span, .form-checkboxs > span {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-right: 15px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer; }
  .form-radios > span > input, .form-checkboxs > span > input {
    position: absolute;
    margin-left: -20px;
    margin-top: 4px \9; }
  .form-radios > span label, .form-checkboxs > span label {
    margin: 0; }

.primary-color {
  color: #e9432d; }

.gray-color {
  color: #999; }

.row-info-fluid {
  margin-bottom: 15px; }
  .row-info-fluid p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }

.row-info-fluid .item-label {
  display: inline-block;
  width: 120px;
  margin-right: 20px;
  vertical-align: top;
  text-align: right; }

.breadcrumb {
  margin-top: 30px;
  padding-left: 0;
  background-color: #fff; }

.breadcrumb a {
  text-decoration: none; }

.breadcrumb > li > a {
  color: #333; }

.breadcrumb > li {
  color: #777; }

.mgb20 {
  margin-bottom: 20px; }

.project-logo-box {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden; }

.h-title_bar {
  position: relative;
  padding: 25px 0 0;
  text-align: center; }
  .h-title_bar .h-title {
    margin: 0 0 .2em;
    font-weight: normal;
    color: #000;
    font-size: 2em; }
  .h-title_bar .h-title_en {
    margin: 0 0 15px;
    color: #eee;
    font-size: 1em; }
  .h-title_bar .h-title_line {
    position: relative; }
  .h-title_bar .h-column-wrap {
    display: inline-block;
    position: relative;
    min-width: 210px;
    padding: 0 30px;
    border-bottom: 1px solid #eee;
    z-index: 10; }
    .h-title_bar .h-column-wrap:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -2px;
      width: 2em;
      height: 4px;
      margin-left: -1em;
      background-color: #e9432d; }
  .h-title_bar svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  .h-title_bar .h-title_line_primary .h-title {
    color: #fff; }
  .h-title_bar .h-title_line_primary:after {
    background-color: #ffffff; }

.test-color {
  background-color: #f39689; }

.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.container {
  width: 1280px; }

.container-ct {
  padding-top: 60px;
  padding-bottom: 60px; }

.row-step-cyjd {
  width: 815px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px; }

.row-user-info {
  margin-bottom: 15px; }

.topbar-block {
  border: solid #eee;
  border-width: 1px 1px 0; }

.row-top-bar .topbar-item {
  margin-top: 10px; }

.form-horizontal-apply {
  margin-bottom: 30px; }

.form-actions-cyjd {
  padding: 30px 0;
  border-top: 1px solid #ddd; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield; }

.form-control.m97-date {
  background-image: url(/img/datePickerM97.gif);
  background-repeat: no-repeat;
  background-position: right; }

.titlebar-custom {
  line-height: 30px;
  padding: 5px 15px;
  margin: 0 -15px;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  background-color: #f4e6d4;
  text-align: left; }

.section-user {
  padding: 30px 0; }

.weekly-wrap {
  padding: 15px 15px;
  margin-bottom: 30px;
  border: 1px solid #ccc; }
  .weekly-wrap .titlebar-custom {
    margin-top: 1em; }

.container-ct .main-title {
  overflow: hidden;
  text-align: center;
  line-height: 1.1;
  margin-bottom: 40px;
  font-size: 30px;
  color: #1b1b1b; }

.stage-result {
  padding: 0 30px;
  margin: 0 auto 20px; }

.btn:focus:focus, .btn:focus:hover, .btn:active:focus:focus, .btn:active:focus:hover, .btn.active:focus:focus, .btn.active:focus:hover, .btn.focus:focus, .btn.focus:hover, .btn:active.focus:focus, .btn:active.focus:hover, .btn.active.focus:focus, .btn.active.focus:hover {
  outline: none; }

.table > thead > tr > td, .table > thead > tr > th {
  text-align: center;
  vertical-align: middle; }
.table > tbody > tr > th, .table > tbody > tr > td {
  vertical-align: middle; }
.table .bd1.mlr5 {
  display: inline-block;
  padding: 2px 8px;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  color: #e9432d;
  border: 1px solid #e9432d; }

.table-orange > thead > tr {
  background-color: #f4e6d4; }

.table-nowrap > thead > tr > td, .table-nowrap > thead > tr > th {
  white-space: nowrap; }

.table-center > tbody > tr > th, .table-center > tbody > tr > td {
  text-align: center; }

.table-coffee > thead > tr {
  background-color: #b3a9a8; }

.table-subscribe .remark {
  display: inline-block;
  max-width: 240px;
  max-height: 40px;
  overflow: hidden; }

.table-cate-theme > thead > tr {
  background-color: #b3a9a8; }
  .table-cate-theme > thead > tr > th {
    background-color: #b3a9a8; }

.table-title > span {
  display: inline-block;
  border-radius: 3px 3px 0 0;
  padding: 6px 12px;
  font-size: 14px;
  color: #656565;
  background-color: #ebebeb; }

.table-title .ratio {
  font-style: normal;
  background-color: #fff;
  color: #df4526; }

.table .project-name {
  display: block;
  max-width: 300px;
  margin: 0 auto;
  overflow: hidden; }

.table-font12 > thead > tr > td, .table-font12 > thead > tr > th {
  font-size: 12px; }
.table-font12 > tbody > tr > th, .table-font12 > tbody > tr > td {
  font-size: 12px; }

.table-primary > thead > tr > th {
  border-bottom: 1px dashed #e9432d; }
.table-primary > thead > tr > th, .table-primary > tbody > tr > th, .table-primary > tfoot > tr > th, .table-primary > thead > tr > td, .table-primary > tbody > tr > td, .table-primary > tfoot > tr > td {
  border-top: 1px dashed transparent; }

.step-indicator {
  margin-bottom: 20px;
  line-height: 30px; }

a.step {
  display: block;
  float: left;
  font-weight: bold;
  background: #f7f7f7;
  padding-right: 10px;
  height: 30px;
  width: 240px;
  text-align: center;
  line-height: 32px;
  margin-right: 33px;
  position: relative;
  text-decoration: none;
  color: #4c4b4a;
  cursor: default; }

.step:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: -30px;
  border: 15px solid transparent;
  border-color: #f7f7f7;
  border-left-color: transparent; }

.step:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: -30px;
  border: 15px solid transparent;
  border-left-color: #f7f7f7; }

.step:first-of-type {
  border-radius: 2px 0 0 2px;
  padding-left: 15px; }

.step:first-of-type:before {
  display: none; }

.step:last-of-type {
  border-radius: 0 2px 2px 0;
  margin-right: 25px;
  padding-right: 15px; }

.step:last-of-type:after {
  display: none; }

a.step:hover {
  text-decoration: none; }

.step.completed {
  background: #ffdacf;
  color: #de3b0a;
  cursor: pointer; }

.step.completed:before {
  border-color: #ffdacf;
  border-left-color: transparent; }

.step.completed:after {
  border-left-color: #ffdacf; }

.step.completed:hover {
  background: #ffdacf;
  border-color: #ffdacf;
  color: #de3b0a;
  text-decoration: none; }

.step.completed:hover:before {
  border-color: #ffdacf;
  border-left-color: transparent; }

.step.completed:hover:after {
  border-left-color: #ffdacf; }

.row-apply {
  padding: 0 15px;
  border: 1px solid #eee; }
  .row-apply .topbar {
    padding: 10px 0;
    line-height: 20px; }
  .row-apply .titlebar {
    line-height: 30px;
    padding: 5px 15px;
    margin: 0 -15px 15px;
    color: #333;
    font-size: 14px;
    font-weight: 700;
    background-color: #f4e6d4;
    text-align: left; }
    .row-apply .titlebar .alert-status {
      color: red;
      margin-left: 4px; }
    .row-apply .titlebar .step-title {
      font-weight: 400; }
    .row-apply .titlebar .gary-color {
      font-weight: 400; }

.form-horizontal .label-static {
  float: left;
  width: 160px;
  text-align: right;
  min-height: 34px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
  overflow: hidden; }
  .form-horizontal .label-static + .form-control-static {
    margin-left: 190px; }

.form-horizontal-tabs {
  padding: 0 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd; }
  .form-horizontal-tabs .form-group {
    font-size: 0;
    margin-bottom: 0; }
  .form-horizontal-tabs .radio input[type="radio"], .form-horizontal-tabs .radio-inline input[type="radio"], .form-horizontal-tabs .checkbox input[type="checkbox"], .form-horizontal-tabs .checkbox-inline input[type="checkbox"] {
    margin: 0; }
  .form-horizontal-tabs .checkbox-fake-box {
    display: none;
    position: absolute;
    width: 13px;
    height: 13px;
    margin-top: 4px;
    margin-left: -10px; }
  .form-horizontal-tabs .checkbox-fake {
    width: 13px;
    height: 13px;
    background-color: #fff; }
  .form-horizontal-tabs input[type="checkbox"] {
    display: none;
    opacity: 0; }
    .form-horizontal-tabs input[type="checkbox"]:checked + .checkbox-fake:after {
      content: '√';
      display: block;
      color: #e9432d;
      font-style: normal;
      width: 13px;
      height: 13px;
      line-height: 13px;
      font-size: 12px;
      text-align: center;
      font-weight: bold;
      font-family: "Microsoft YaHei"; }
  .form-horizontal-tabs .checkbox-inline {
    margin: 0 0 -1px; }
    .form-horizontal-tabs .checkbox-inline:hover {
      background-color: #e9432d; }
      .form-horizontal-tabs .checkbox-inline:hover .checkbox-fake-box {
        display: block; }
      .form-horizontal-tabs .checkbox-inline:hover a {
        color: #ffffff;
        border-bottom: 2px solid #e9432d;
        padding-left: 13px; }
  .form-horizontal-tabs a {
    color: #333;
    text-decoration: none; }
  .form-horizontal-tabs .active {
    background-color: #e9432d; }
    .form-horizontal-tabs .active .checkbox-fake-box {
      display: block; }
    .form-horizontal-tabs .active input[type="checkbox"] {
      display: block; }
    .form-horizontal-tabs .active a {
      color: #fff;
      border-bottom: 2px solid #e9432d; }
    .form-horizontal-tabs .active .tab-item {
      padding-left: 13px; }
  .form-horizontal-tabs .tab-item {
    display: inline-block;
    padding: 0 15px 10px 0;
    font-size: 14px;
    border-bottom: 2px solid transparent; }

.cate-table-module .title {
  height: 40px;
  margin: 0;
  padding-left: 15px;
  line-height: 40px;
  font-weight: bold;
  color: #e9442d;
  background-color: #e7e7e7; }
.cate-table-module .table-block {
  padding: 30px 15px;
  border: solid #cecece;
  border-width: 0 1px 1px; }

.pagination_num:after, .pagination_num .pagination_list:after, .pagination_num .num_page:after, .cate-attrs:after, .cate-attrs .av-collapse:after, .cate-check-bar .ch-wrap:after, .cate-room-names:after, .edit-bar:after, .edit-bar .edit-bar-right:after, .edit-bar .edit-time-section:after, .pagination_num:before, .pagination_num .pagination_list:before, .pagination_num .num_page:before, .cate-attrs:before, .cate-attrs .av-collapse:before, .cate-check-bar .ch-wrap:before, .cate-room-names:before, .edit-bar:before, .edit-bar .edit-bar-right:before, .edit-bar .edit-time-section:before {
  content: '';
  display: table; }
.pagination_num:after, .pagination_num .pagination_list:after, .pagination_num .num_page:after, .cate-attrs:after, .cate-attrs .av-collapse:after, .cate-check-bar .ch-wrap:after, .cate-room-names:after, .edit-bar:after, .edit-bar .edit-bar-right:after, .edit-bar .edit-time-section:after {
  clear: both; }

.pagination_num {
  margin-bottom: 20px; }
  .pagination_num.row {
    margin-left: 0;
    margin-right: 0; }
  .pagination_num .pagination_list {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none; }
    .pagination_num .pagination_list > li {
      float: left;
      margin-right: 4px;
      min-width: 30px;
      height: 30px;
      border: 1px solid #ddd;
      box-sizing: border-box; }
      .pagination_num .pagination_list > li > a {
        display: block;
        padding: 0 7px;
        line-height: 28px;
        color: #656565;
        text-align: center;
        text-decoration: none; }
      .pagination_num .pagination_list > li.current {
        cursor: default;
        border-color: #e9432d; }
        .pagination_num .pagination_list > li.current > a {
          color: #fff;
          background-color: #e9432d; }
      .pagination_num .pagination_list > li.disabled > a {
        opacity: .8;
        cursor: not-allowed; }
  .pagination_num .num_page {
    float: right;
    height: 30px; }
    .pagination_num .num_page .page_tips {
      float: left;
      margin: 0 5px 0 0;
      line-height: 30px; }
    .pagination_num .num_page .per_page_count {
      float: left;
      width: 64px;
      margin-bottom: 0;
      height: 30px;
      padding: 5px 10px;
      font-size: 14px;
      line-height: 20;
      border-radius: 3px;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc; }

.dialog-cyjd-container {
  z-index: 1060; }
  .dialog-cyjd-container.none-close .ui-dialog-titlebar-close {
    display: none; }
  .dialog-cyjd-container .ui-dialog-titlebar-close {
    border: none; }
  .dialog-cyjd-container .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
    margin: 10px auto;
    text-align: center; }
    .dialog-cyjd-container .ui-dialog-buttonpane .ui-dialog-buttonset button {
      margin: 0; }
      .dialog-cyjd-container .ui-dialog-buttonpane .ui-dialog-buttonset button + button {
        margin-left: 8px; }
  .dialog-cyjd-container .dialog-cyjd {
    padding: 20px 15px;
    min-height: 250px;
    min-width: 320px;
    max-width: 360px;
    text-align: center;
    overflow: hidden; }
    .dialog-cyjd-container .dialog-cyjd .icon-ok-msg, .dialog-cyjd-container .dialog-cyjd .icon-fail-msg, .dialog-cyjd-container .dialog-cyjd .icon-warning-msg {
      display: block;
      width: 38px;
      height: 38px;
      margin: 0 auto;
      background: no-repeat center;
      vertical-align: middle; }
    .dialog-cyjd-container .dialog-cyjd .icon-ok-msg {
      background-image: url(/img/ok-msg.png); }
    .dialog-cyjd-container .dialog-cyjd .icon-fail-msg {
      background-image: url(/img/alert-msg.png); }
    .dialog-cyjd-container .dialog-cyjd .icon-warning-msg {
      background-image: url(/img/alert-msg.png); }
    .dialog-cyjd-container .dialog-cyjd span {
      display: block;
      padding: 5px 10px;
      margin-top: 4px;
      vertical-align: middle; }

.dialog-cyjd-container .dialog-info-box {
  position: relative;
  display: inline-block;
  padding-left: 40px;
  min-height: 40px; }

.dialog-cyjd-container .dialog-cyjd .dialog-info-box > i {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -19px; }

.accessories-container-list {
  overflow: hidden; }
  .accessories-container-list .accessories {
    float: left;
    margin-right: 15px; }

.accessories-container + .btn-accessory-box {
  margin-bottom: 30px; }

.accessories {
  margin-bottom: 15px; }
  .accessories .accessory {
    position: relative; }
    .accessories .accessory + div {
      margin-top: 10px; }
    .accessories .accessory .accessory-info {
      white-space: nowrap;
      padding-left: 5px;
      line-height: 24px; }
      .accessories .accessory .accessory-info a {
        display: inline-block;
        line-height: 24px;
        white-space: nowrap;
        vertical-align: top;
        margin-right: 8px; }
      .accessories .accessory .accessory-info img {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 5px;
        vertical-align: top; }
      .accessories .accessory .accessory-info .accessory-name {
        display: inline-block;
        line-height: 24px;
        vertical-align: top;
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis; }
      .accessories .accessory .accessory-info:hover {
        background-color: rgba(0, 0, 0, 0.1); }
        .accessories .accessory .accessory-info:hover .btn-delete-accessory, .accessories .accessory .accessory-info:hover .btn-downfile-accessory {
          display: inline-block; }
        .accessories .accessory .accessory-info:hover .btn-delete-newaccessory {
          background-image: url("/img/btn-hover-delete-file.png"); }
        .accessories .accessory .accessory-info:hover .btn-downfile-newaccessory {
          background-image: url("/img/btn-hover-downfile.png"); }
    .accessories .accessory .btn-delete-accessory, .accessories .accessory .btn-downfile-accessory {
      display: none;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      overflow: hidden;
      vertical-align: middle;
      border: 1px solid #e9432d;
      cursor: pointer; }
      .accessories .accessory .btn-delete-accessory img, .accessories .accessory .btn-downfile-accessory img {
        width: 16px;
        height: 16px;
        display: block;
        margin: 2px auto; }
    .accessories .accessory .btn-downfile-newaccessory, .accessories .accessory .btn-delete-newaccessory {
      display: inline-block;
      width: 16px;
      height: 16px;
      border: none;
      overflow: hidden;
      cursor: pointer;
      vertical-align: middle; }
    .accessories .accessory .btn-downfile-newaccessory {
      background-image: url("/img/btn-downfile.png"); }
    .accessories .accessory .btn-delete-newaccessory {
      background-image: url("/img/btn-delete-file.png"); }
    .accessories .accessory .btn-downfile-accessory {
      margin-right: 4px; }
    .accessories .accessory .accessory-layer {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      line-height: 24px;
      background-color: rgba(0, 0, 0, 0.3); }
      .accessories .accessory .accessory-layer > img {
        display: inline-block;
        vertical-align: middle;
        width: 24px; }
  .accessories-h34 .accessory .accessory-info {
    line-height: 34px; }
    .accessories-h34 .accessory .accessory-info a {
      line-height: 34px; }
    .accessories-h34 .accessory .accessory-info img {
      vertical-align: middle; }
    .accessories-h34 .accessory .accessory-info .accessory-name {
      line-height: 34px; }
  .accessories-h34 .accessory .btn-delete-accessory {
    vertical-align: middle; }
  .accessories-h34 .accessory .accessory-layer {
    line-height: 34px; }
  .accessories-h30 .accessory .accessory-info {
    line-height: 30px; }
    .accessories-h30 .accessory .accessory-info a {
      line-height: 30px; }
    .accessories-h30 .accessory .accessory-info img {
      vertical-align: middle; }
    .accessories-h30 .accessory .accessory-info .accessory-name {
      line-height: 30px; }
  .accessories-h30 .accessory .btn-delete-accessory {
    vertical-align: middle; }
  .accessories-h30 .accessory .accessory-layer {
    line-height: 30px; }

.btn-accessory-box-h34 .upload-content {
  display: inline-block;
  height: 34px; }
.btn-accessory-box-h34 .uploader-tip {
  line-height: 34px; }
.btn-accessory-box-h34 .uploader-tip-other {
  line-height: 24px; }

.btn-accessory-box .uploader-tip {
  margin-left: 8px;
  display: inline-block;
  vertical-align: top;
  color: #999; }
.btn-accessory-box .uploader-tip-other {
  display: block;
  color: #999; }

.upload-content label {
  margin-bottom: 0; }
.upload-content .webuploader-pick {
  padding: 6px 12px;
  background-color: #e9432d;
  border: 1px solid #e53018;
  font-size: 14px;
  line-height: 1.42857143; }
  .upload-content .webuploader-pick-hover {
    color: #fff;
    background-color: #cd2b16;
    border-color: #ad2412; }
.upload-content-sm .webuploader-pick {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

.upload-logo-container {
  position: relative;
  overflow: hidden; }
  .upload-logo-container .upload-logo-block {
    float: left;
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
    overflow: hidden; }
    .upload-logo-container .upload-logo-block-hover:hover .ud-logo-text {
      display: block; }
    .upload-logo-container .upload-logo-block-hover:hover:after {
      display: block; }
    .upload-logo-container .upload-logo-block-hover:hover .ud-logo-delete {
      display: block; }
    .upload-logo-container .upload-logo-block .ud-logo-delete {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      width: 16px;
      height: 16px;
      margin-right: -8px;
      margin-top: -8px;
      z-index: 20; }
    .upload-logo-container .upload-logo-block .ud-logo-text {
      display: none;
      position: absolute;
      left: 0;
      width: 100%;
      top: 50%;
      margin-top: -10px;
      text-align: center;
      color: #fff;
      font-size: 12px;
      line-height: 20px;
      white-space: nowrap;
      overflow: hidden;
      z-index: 10; }
    .upload-logo-container .upload-logo-block:after {
      display: none;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.8); }
  .upload-logo-container .upload-logo-tip {
    float: left;
    margin-left: 15px;
    line-height: 20px;
    margin-top: 40px; }

.calendar-container {
  margin-bottom: 60px; }

.fc-toolbar h2 {
  font-size: 20px;
  font-weight: normal; }

.fc-toolbar.fc-header-toolbar {
  position: relative; }

.fc-toolbar .fc-center {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: -1; }

.fc-toolbar .fc-center > h2 {
  float: none; }

.fc-ltr .fc-time-area .fc-chrono th {
  text-align: center; }

.search-tip-container .search-tip {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -42px;
  margin-left: -18px;
  width: 84px;
  line-height: 36px;
  text-align: center;
  background-color: #e9432d;
  color: #fff;
  border-radius: 3px;
  z-index: 1000; }
.search-tip-container .search-layer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99; }

.fc-ltr .fc-basic-view .fc-day-top a.fc-day-number {
  cursor: default;
  text-decoration: none; }

.pagination_num:after, .pagination_num .pagination_list:after, .pagination_num .num_page:after, .cate-attrs:after, .cate-attrs .av-collapse:after, .cate-check-bar .ch-wrap:after, .cate-room-names:after, .edit-bar:after, .edit-bar .edit-bar-right:after, .edit-bar .edit-time-section:after, .pagination_num:before, .pagination_num .pagination_list:before, .pagination_num .num_page:before, .cate-attrs:before, .cate-attrs .av-collapse:before, .cate-check-bar .ch-wrap:before, .cate-room-names:before, .edit-bar:before, .edit-bar .edit-bar-right:before, .edit-bar .edit-time-section:before {
  content: '';
  display: table; }
.pagination_num:after, .pagination_num .pagination_list:after, .pagination_num .num_page:after, .cate-attrs:after, .cate-attrs .av-collapse:after, .cate-check-bar .ch-wrap:after, .cate-room-names:after, .edit-bar:after, .edit-bar .edit-bar-right:after, .edit-bar .edit-time-section:after {
  clear: both; }

.form-appointment {
  padding-left: 10px; }

.cate-attrs {
  height: 32px;
  min-height: 32px;
  overflow: hidden; }
  .cate-attrs-auto {
    height: auto; }
  .cate-attrs .cate-attr-key {
    float: left;
    width: 100px;
    line-height: 24px;
    text-align: left; }
  .cate-attrs .cate-attr-value {
    position: relative;
    margin-left: 100px; }
  .cate-attrs .av-collapse {
    position: relative;
    padding: 0 0 0 62px;
    list-style: none;
    margin: 0 0 0 0; }
    .cate-attrs .av-collapse .av-item {
      position: relative;
      width: 120px; }
      .cate-attrs .av-collapse .av-item.av-item-all {
        position: absolute;
        left: 0;
        top: 0;
        width: 54px; }
        .cate-attrs .av-collapse .av-item.av-item-all .avi-label {
          width: 54px; }
  .cate-attrs .av-item-more {
    position: absolute;
    right: 10px;
    top: 0;
    line-height: 24px;
    text-align: center;
    text-decoration: none; }
  .cate-attrs .av-options {
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
    text-align: left; }
  .cate-attrs .av-item {
    float: left;
    height: 24px;
    margin: 0 8px 8px 0; }
    .cate-attrs .av-item .ac-item-box {
      position: relative;
      display: inline-block;
      height: 24px;
      border-radius: 2px;
      vertical-align: top;
      overflow: hidden; }
      .cate-attrs .av-item .ac-item-box.checked .avi-label {
        background-color: rgba(233, 67, 45, 0.2);
        color: #e9432d; }
        .cate-attrs .av-item .ac-item-box.checked .avi-label:after {
          border-width: 14px 0 0 14px;
          border-color: #e9432d transparent;
          border-style: solid; }
    .cate-attrs .av-item.av-item-all {
      width: 54px; }
      .cate-attrs .av-item.av-item-all input[type="radio"]:checked + .avi-label:after, .cate-attrs .av-item.av-item-all input[type="checkbox"]:checked + .avi-label:after {
        display: none; }
    .cate-attrs .av-item input[type="radio"], .cate-attrs .av-item input[type="checkbox"] {
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      width: 100%;
      height: 24px;
      margin: 0;
      padding: 0;
      opacity: 0;
      cursor: pointer;
      z-index: 100; }
      .cate-attrs .av-item input[type="radio"]:checked + .avi-label, .cate-attrs .av-item input[type="checkbox"]:checked + .avi-label {
        background-color: rgba(233, 67, 45, 0.2);
        color: #e9432d; }
        .cate-attrs .av-item input[type="radio"]:checked + .avi-label:after, .cate-attrs .av-item input[type="checkbox"]:checked + .avi-label:after {
          border-width: 14px 0 0 14px;
          border-color: #e9432d transparent;
          border-style: solid; }
    .cate-attrs .av-item .avi-label {
      display: inline-block;
      position: relative;
      width: 90px;
      padding: 0 10px;
      line-height: 24px;
      margin-bottom: 0;
      text-align: center;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      box-sizing: border-box; }
      .cate-attrs .av-item .avi-label:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0; }

.cate-check-bar {
  position: relative;
  padding: 4px;
  background-color: #faf9f9; }
  .cate-check-bar .pull-right {
    position: absolute;
    right: 4px;
    top: 4px; }
  .cate-check-bar .ch-wrap {
    margin-right: 100px; }
    .cate-check-bar .ch-wrap .ch-block {
      float: left;
      line-height: 26px;
      margin-right: 8px;
      border: 1px solid #ccc; }
      .cate-check-bar .ch-wrap .ch-block:after, .cate-check-bar .ch-wrap .ch-block:before {
        content: '';
        display: table; }
      .cate-check-bar .ch-wrap .ch-block:after {
        clear: both; }
      .cate-check-bar .ch-wrap .ch-block-transparent {
        border: none; }
        .cate-check-bar .ch-wrap .ch-block-transparent:hover .btn-range-save {
          display: inline-block; }
        .cate-check-bar .ch-wrap .ch-block-transparent:hover .chn-box {
          width: 300px;
          border-color: #ccc; }
        .cate-check-bar .ch-wrap .ch-block-transparent .btn-range-save {
          vertical-align: top; }
      .cate-check-bar .ch-wrap .ch-block .ch-num-range {
        width: 252px;
        position: relative;
        height: 30px; }
      .cate-check-bar .ch-wrap .ch-block .chn-box {
        position: absolute;
        left: 0;
        top: 0;
        width: 245px;
        height: 30px;
        border: 1px solid #ccc;
        padding: 1px 0 1px 5px; }
      .cate-check-bar .ch-wrap .ch-block .input-range {
        width: 60px;
        padding: 2px 3px;
        height: auto;
        vertical-align: top; }
      .cate-check-bar .ch-wrap .ch-block .btn-range-save {
        padding: 3px 10px;
        display: none; }
      .cate-check-bar .ch-wrap .ch-block > span > label {
        vertical-align: top; }
      .cate-check-bar .ch-wrap .ch-block > span {
        line-height: 24px;
        padding-top: 4px;
        margin: 0 5px; }
      .cate-check-bar .ch-wrap .ch-block label.radio {
        padding: 0 5px; }
      .cate-check-bar .ch-wrap .ch-block .input-mini {
        font-size: 12px;
        height: 22px;
        line-height: 22px;
        vertical-align: top;
        box-shadow: none;
        width: 110px;
        border: solid #ccc;
        border-width: 0 1px; }
        .cate-check-bar .ch-wrap .ch-block .input-mini:first-child {
          border-radius: 0; }
        .cate-check-bar .ch-wrap .ch-block .input-mini:last-child {
          border-radius: 0; }

.cate-room-bar {
  position: relative; }
  .cate-room-bar .cate-room-more {
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    line-height: 14px;
    width: 32px;
    font-size: 12px;
    text-align: right; }

.cate-room-names {
  margin-right: 32px;
  margin-bottom: 15px;
  height: 21px;
  overflow: hidden; }
  .cate-room-names.cate-room-auto {
    height: auto; }
  .cate-room-names .cr-item {
    float: left;
    display: block;
    width: 130px;
    line-height: 16px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 0 8px;
    text-decoration: none;
    color: #d8d8d8;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .cate-room-names .cr-item:first-child.active {
      color: #333; }
      .cate-room-names .cr-item:first-child.active > span {
        background-color: #e9432d; }
    .cate-room-names .cr-item > span {
      display: inline-block;
      width: 26px;
      height: 14px;
      vertical-align: top;
      background-color: #ccc;
      border-radius: 3px;
      margin-right: 4px; }
    .cate-room-names .cr-item.gray {
      color: #d8d8d8 !important; }
      .cate-room-names .cr-item.gray > span {
        background-color: #ccc !important; }

.pagination_num:after, .pagination_num .pagination_list:after, .pagination_num .num_page:after, .cate-attrs:after, .cate-attrs .av-collapse:after, .cate-check-bar .ch-wrap:after, .cate-room-names:after, .edit-bar:after, .edit-bar .edit-bar-right:after, .edit-bar .edit-time-section:after, .pagination_num:before, .pagination_num .pagination_list:before, .pagination_num .num_page:before, .cate-attrs:before, .cate-attrs .av-collapse:before, .cate-check-bar .ch-wrap:before, .cate-room-names:before, .edit-bar:before, .edit-bar .edit-bar-right:before, .edit-bar .edit-time-section:before {
  content: '';
  display: table; }
.pagination_num:after, .pagination_num .pagination_list:after, .pagination_num .num_page:after, .cate-attrs:after, .cate-attrs .av-collapse:after, .cate-check-bar .ch-wrap:after, .cate-room-names:after, .edit-bar:after, .edit-bar .edit-bar-right:after, .edit-bar .edit-time-section:after {
  clear: both; }

.edit-bar {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px; }
  .edit-bar .icon-collaspe {
    position: absolute;
    right: 0;
    top: 2px;
    padding: 4px 15px;
    text-decoration: none; }
  .edit-bar .edit-bar-right {
    position: absolute;
    right: 15px;
    top: 0; }
    .edit-bar .edit-bar-right .time-section {
      font-size: 14px;
      line-height: 20px;
      height: 20px;
      margin: 0; }
  .edit-bar .edit-time-section {
    width: 400px;
    margin-top: -12px; }
    .edit-bar .edit-time-section .input-group-addon {
      border-width: 1px 0;
      background-color: transparent; }
    .edit-bar .edit-time-section .edit-time-label {
      float: left;
      width: 72px;
      line-height: 30px; }
    .edit-bar .edit-time-section .edit-time-form {
      margin-left: 87px; }

.edit-bar-left {
  position: relative; }

.edit-bar-left > span {
  position: relative;
  padding: 0 15px 0 0;
  color: #e9432d;
  font-size: 16px;
  font-weight: 700;
  line-height: 2.5;
  background: #fff;
  z-index: 1; }

.edit-bar-left .line {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid #f4e6d4; }

.edit-bar .edit-bar-left .weight-line {
  border-top: 3px solid #f4e6d4; }

.edit-bar-sm .edit-bar-left > span {
  color: #000;
  font-size: 16px;
  font-weight: normal; }

.edit-bar .unread-tag {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  margin-left: 8px;
  line-height: 1;
  text-align: center;
  border-radius: 10px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  background-color: #e9432d;
  color: #fff;
  vertical-align: middle;
  margin-top: -3px; }

.pagination_num:after, .pagination_num .pagination_list:after, .pagination_num .num_page:after, .cate-attrs:after, .cate-attrs .av-collapse:after, .cate-check-bar .ch-wrap:after, .cate-room-names:after, .edit-bar:after, .edit-bar .edit-bar-right:after, .edit-bar .edit-time-section:after, .pagination_num:before, .pagination_num .pagination_list:before, .pagination_num .num_page:before, .cate-attrs:before, .cate-attrs .av-collapse:before, .cate-check-bar .ch-wrap:before, .cate-room-names:before, .edit-bar:before, .edit-bar .edit-bar-right:before, .edit-bar .edit-time-section:before {
  content: '';
  display: table; }
.pagination_num:after, .pagination_num .pagination_list:after, .pagination_num .num_page:after, .cate-attrs:after, .cate-attrs .av-collapse:after, .cate-check-bar .ch-wrap:after, .cate-room-names:after, .edit-bar:after, .edit-bar .edit-bar-right:after, .edit-bar .edit-time-section:after {
  clear: both; }

.control-group-user {
  margin-bottom: 15px; }
  .control-group-user .control-span-user {
    float: left;
    width: 100px; }
  .control-group-user .controls-user {
    margin-left: 115px; }
  .control-group-user .controls-user-static {
    margin: 0; }

.project-time-index .time-line {
  position: relative;
  width: 600px;
  margin: 40px auto; }
.project-time-index .time-line::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 2px;
  background: #ccc;
  margin-left: 3px; }
.project-time-index .time-line .time-item {
  position: relative;
  width: 124px;
  height: 150px;
  margin: 0 auto 35px;
  z-index: 100; }
.project-time-index .time-line .time-item-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("/images/half_circle.png") no-repeat left top;
  z-index: -1; }
.project-time-index .time-line .time-item.last .time-inner {
  top: 26px; }
.project-time-index .time-line .time-item.active .time-item-bg {
  background-image: url("/images/hover_half_circle.png"); }
.project-time-index .time-line .time-item.last .time-item-bg {
  transform: rotateX(180deg); }
.project-time-index .time-line .time-inner {
  position: relative;
  width: 124px;
  height: 124px;
  border-radius: 62px;
  background-color: #c3c3c3;
  transition: width .15s linear;
  overflow: hidden; }
.project-time-index .time-line .time-item.active .time-inner {
  background-color: #e9422f; }
.project-time-index .time-line .time-inner .time-inner-header {
  float: left;
  width: 124px; }
.project-time-index .time-line .time-inner .time-inner-header .cell {
  display: table-cell;
  height: 124px;
  width: 1%;
  text-align: center;
  font-size: 12px;
  color: #fff;
  vertical-align: middle; }
.project-time-index .time-line .time-inner .time-inner-content {
  margin-left: 124px;
  height: 124px; }
.project-time-index .time-line .time-item.active.hasContent:hover .time-inner {
  width: 300px; }
.project-time-index .time-line .time-item-intro {
  position: relative; }
.project-time-index .time-line .intro-dot {
  position: absolute;
  left: 50%;
  top: 3px;
  width: 12px;
  height: 12px;
  margin-left: -2px;
  border: 1px solid #fcc177;
  border-radius: 50%; }
.project-time-index .time-line .intro-dot > span {
  display: block;
  width: 6px;
  height: 6px;
  background-color: #e9422f;
  margin: 2px auto 0;
  border-radius: 50%; }
.project-time-index .time-line .intro-date {
  text-align: right; }
.project-time-index .time-line .intro-inner {
  /*float: right;*/
  width: 280px;
  border: 1px solid #e9422d;
  border-radius: 3px;
  margin-top: -4px; }
.project-time-index .time-line .right .intro-inner {
  float: right; }
.project-time-index .time-line .left .intro-inner {
  float: left; }
.project-time-index .time-line .left .intro-date {
  width: 400px; }
.project-time-index .time-line .right .intro-date {
  width: 290px; }
.project-time-index .time-line .intro-header {
  position: relative;
  padding: 3px 8px;
  background-color: #e9422d;
  color: #fff; }
.project-time-index .time-line .intro-content {
  padding: 3px 8px;
  font-size: 12px;
  line-height: 1.42857143;
  overflow: hidden; }
.project-time-index .time-line .intro-inner .title {
  margin: 0;
  line-height: 20px;
  height: auto; }
.project-time-index .time-line .intro-inner .arrow {
  position: absolute;
  left: -7px;
  top: 6px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #e9422d; }
.project-time-index .time-line-box {
  position: relative;
  padding-bottom: 30px;
  z-index: 100; }
.project-time-index .time-line-box:last-child {
  padding-bottom: 0; }
.project-time-index .time-line .time-line-box-arrow {
  position: absolute;
  left: 50%;
  bottom: 100%;
  margin-left: -4px;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-top: 12px solid #ccc; }
.project-time-index .time-line-box.completed .time-line-box-arrow {
  border-top: 12px solid #e9422d; }
.project-time-index .time-line-box.completed:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 2px;
  background: #e9422d;
  margin-left: 3px; }
.project-time-index .time-line-box.completed.gray:before {
  display: none; }
.project-time-index .btn-milestone {
  text-decoration: none;
  color: #fff;
  background: -webkit-linear-gradient(#fd9a69, #fb4f2e);
  background: -o-linear-gradient(#fd9a69, #fb4f2e);
  background: -moz-linear-gradient(#fd9a69, #fb4f2e);
  background: linear-gradient(#fd9a69, #fb4f2e);
  border-radius: 5px; }
.project-time-index .btn-milestone:hover, .project-time-index .btn-milestone:active {
  color: #fff;
  background: -webkit-linear-gradient(#fd9a69, #fb4f2e);
  background: -o-linear-gradient(#fd9a69, #fb4f2e);
  background: -moz-linear-gradient(#fd9a69, #fb4f2e);
  background: linear-gradient(#fd9a69, #fb4f2e); }
.project-time-index .time-line .time-inner .time-inner-content .cell {
  display: table-cell;
  width: 1%;
  height: 124px;
  text-align: center;
  vertical-align: middle; }
.project-time-index .time-line .time-inner .time-inner-content .approval {
  color: #fff; }
.project-time-index .time-line-container {
  margin-bottom: 40px;
  /*border: 1px solid #ececec;*/ }
.project-time-index .time-line-title {
  margin: 0;
  line-height: 50px;
  text-align: center; }
.project-time-index .project-info > span {
  font-size: 12px;
  margin-right: 10px;
  line-height: 30px; }
.project-time-index .time-line-header {
  padding: 6px 10px;
  background-color: #f4e6d4; }
.project-time-index .btn-pro-list {
  color: #4b4b4b;
  background-color: #bebebe; }
.project-time-index .btn-pro-list:hover, .project-time-index .btn-pro-list:focus {
  color: #4b4b4b;
  background-color: #bebebe; }
.project-time-index .time-actions {
  margin: 40px 0 20px; }
.project-time-index .categories-column {
  margin-bottom: 20px; }
.project-time-index .categories-column .categories span {
  display: inline-block;
  width: 93px;
  padding: 0 4px;
  margin-bottom: 8px;
  height: 20px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top;
  text-overflow: ellipsis; }
.project-time-index .categories-column .category-label {
  width: 75px;
  line-height: 20px;
  float: left; }
.project-time-index .categories-column .categories {
  margin-left: 75px; }
.project-time-index .categories-column .categories a {
  color: #333;
  text-decoration: none; }
.project-time-index .categories-column .categories a.router-link-active {
  color: #e9422f; }
.project-time-index .no-time-line, .project-time-index .loading-data {
  margin: 60px auto;
  text-align: center; }
.project-time-index .time-sidebar {
  float: left;
  width: 48px; }
.project-time-index .time-content {
  margin-left: 48px;
  border: solid #ddd;
  border-width: 0 1px 1px;
  overflow: hidden;
  /*padding-left: 10px;*/
  /*border-left: 1px dashed #ccc;*/ }
.project-time-index .time-name-nav {
  margin: 49px 0 0;
  padding: 0;
  list-style: none; }
.project-time-index .time-name-nav > li {
  width: 48px;
  position: relative;
  padding: 10px 8px;
  margin-bottom: 15px;
  border-radius: 5px 0 0 5px;
  border: solid #ddd;
  border-width: 1px 0 1px 1px; }
.project-time-index .time-name-nav > li .tab-result-tag {
  position: absolute;
  left: -25px;
  top: -5px;
  line-height: 20px;
  padding: 0 12px;
  font-size: 12px;
  color: #e9422f;
  border: 1px solid #e9422f;
  transform-origin: 50% 50%;
  transform: rotate(-30deg) skew(-15deg);
  background-color: #fff;
  font-weight: bold; }
.project-time-index .time-name-nav > li > a {
  display: block;
  line-height: 20px;
  color: #333;
  text-decoration: none;
  text-align: center;
  height: 100px;
  overflow: hidden; }
.project-time-index .time-name-nav > li > a > span {
  display: block;
  height: 100px;
  overflow: hidden;
  word-wrap: break-word; }
.project-time-index .time-name-nav > li:hover {
  background-color: #e9422f;
  border-bottom: 1px solid #fff; }
.project-time-index .time-name-nav > li:hover a {
  color: #fff; }
.project-time-index .time-name-nav > li.router-link-active {
  background-color: #e9422f;
  border-bottom: 1px solid #fff; }
.project-time-index .time-name-nav > li.router-link-active a {
  color: #fff; }
.project-time-index .time-name-nav > li.active {
  background-color: #e9422f;
  border-bottom: 1px solid #fff; }
.project-time-index .time-name-nav > li.active > a {
  color: #fff; }
.project-time-index .time-line-header {
  height: 42px; }
.project-time-index .nav-tabs > li.router-link-active > a, .project-time-index .nav-tabs > li.router-link-active > a:focus, .project-time-index .nav-tabs > li.router-link-active > a:hover {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent; }
.project-time-index .nav-wrap {
  margin-left: 48px; }
.project-time-index .time-item-intro {
  margin-bottom: 20px; }
.project-time-index .time-line .left .time-double .intro-inner {
  float: right; }
.project-time-index .time-line .left .time-double .intro-date {
  width: 290px; }
.project-time-index .time-line .left .intro-inner .arrow {
  left: auto;
  right: -7px;
  top: 6px;
  border-left: 6px solid #e9422d;
  border-right: 0; }
.project-time-index .time-line .weekly-content {
  position: relative; }
.project-time-index .time-line .weekly-content:after {
  content: '';
  position: absolute;
  top: 50%; }
.project-time-index .time-line .right .intro-weekly {
  float: right; }
.project-time-index .time-line .right .weekly-content {
  margin-left: 10px;
  width: 280px; }
.project-time-index .weekly-list {
  margin: 0; }
.project-time-index .time-line .weekly-list > li {
  padding: 3px 0;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
.project-time-index .time-line .right .weekly-list {
  text-align: right; }
.project-time-index .time-line .right .weekly-content:after {
  border-top: 1px dashed #ccc;
  left: 0;
  right: 140px; }
.project-time-index .time-line .right .weekly-list {
  margin-left: 150px; }
.project-time-index .time-line .double .intro-inner {
  float: right; }
.project-time-index .time-line .double .intro-weekly {
  float: left; }
.project-time-index .time-line .double .intro-date {
  width: 290px; }
.project-time-index .time-line .double .weekly-content:after {
  border-top: 1px dashed #ccc;
  left: 100px;
  right: 0; }
.project-time-index .time-line .double .weekly-content {
  width: 205px; }
.project-time-index .time-line .left .intro-weekly {
  float: left; }
.project-time-index .time-line .intro-weekly {
  margin-top: 8px; }
.project-time-index .time-line .left .weekly-content:after {
  border-top: 1px dashed #ccc;
  left: 140px;
  right: 0; }
.project-time-index .time-line .left .weekly-list {
  padding-right: 140px; }
.project-time-index .time-line .left .weekly-content {
  width: 280px; }
.project-time-index .time-name-nav > li > a > span {
  display: table-cell;
  vertical-align: middle; }
.project-time-index .time-line .weekly-list > li {
  overflow: inherit; }

* {
  margin: 0;
  padding: 0; }

.build-team {
  margin-left: -37px;
  color: #999999; }

.build-team a {
  color: #E9432D; }

.build-team a:hover {
  text-decoration: underline; }

.up-support {
  color: #999999;
  font-size: 12px;
  margin-left: 6px; }

.up-project {
  color: #999999;
  font-size: 12px; }

.can-up, .img-up {
  display: none; }

.one-line {
  width: 250px;
  float: left;
  margin: -10px 20px 20px 0; }

.p-left {
  position: relative;
  left: -28px; }

.backimg {
  border-radius: 5px; }

.shade-img {
  background: black;
  width: 128px;
  height: 104px;
  text-align: center;
  position: relative;
  top: -104px;
  left: 0px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  display: none; }

.shade-img span {
  line-height: 104px;
  color: white; }

.shade-word {
  width: 128px;
  height: 104px;
  text-align: center;
  position: relative;
  top: -206px;
  left: 0px;
  line-height: 104px;
  color: white;
  display: none;
  cursor: pointer; }

.delete-image {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #E9432D;
  position: relative;
  top: -321px;
  left: 120px;
  display: none; }

.delete-image img {
  width: 14px;
  height: 14px;
  margin: -6px 0 0 1px; }

#ground-img {
  width: 128px;
  height: 104px; }

#ground-img:hover .shade-img, #ground-img:hover .shade-word, #ground-img:hover .delete-image {
  display: block; }

.loadding {
  display: none; }

.loadding img {
  position: relative;
  top: -68px;
  left: 48px; }

.help-inline {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  position: relative;
  top: -60px;
  left: 140px; }

.help-inline span {
  color: #999999; }

.kan-tu {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 5px; }

.application-one {
  float: left;
  width: 110px;
  text-align: right;
  min-height: 34px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
  overflow: hidden; }

.application-p {
  margin-left: 150px;
  position: relative;
  left: -28px;
  min-height: 34px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0; }

.cropper-area-logo {
  width: 350px;
  height: 350px;
  margin-top: 10px;
  overflow: hidden; }
  .cropper-area-logo .cropperImg {
    width: 100%; }

.process {
  width: 600px;
  margin: 100px auto;
  position: relative; }

.process::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background: black; }

.process-top {
  position: relative;
  padding-bottom: 30px;
  z-index: 100; }

.process-begin {
  background: #DDDDDD;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  border-radius: 50%;
  margin: 0 auto 35px;
  z-index: 100;
  box-shadow: 3px 3px 3px #ccc; }

.process-arrow {
  position: absolute;
  bottom: 100%;
  left: 50%;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-top: 12px solid black;
  margin-left: -7px; }

.process-group {
  width: 340px;
  background: #F8F7F7;
  border: 1px solid #CCCCCC;
  border-radius: 15px;
  margin: 0 auto 35px;
  padding-bottom: 40px;
  box-shadow: 3px 3px 3px #ccc; }

.process-group-top {
  background: #DDDDDD;
  height: 30px;
  line-height: 30px;
  border-radius: 10px;
  margin-top: -1px;
  text-align: center;
  margin-bottom: 30px; }

.process-node {
  width: 280px;
  padding-bottom: 30px;
  background: #F8F7F7;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 0 auto 35px;
  position: relative; }

.process-sha {
  box-shadow: 3px 3px 3px #ccc; }

.process-node-top {
  background: #DDDDDD;
  height: 30px;
  line-height: 30px;
  border-radius: 10px;
  margin-top: -1px;
  text-align: center;
  margin-bottom: 7px; }

.process-role {
  display: inline-block;
  width: 80px;
  text-align: right;
  margin-bottom: 1px;
  vertical-align: top; }

.process-examine {
  float: left; }

.process-school {
  width: 156px;
  display: inline-block;
  padding-bottom: 5px; }

.process-more {
  color: #FFCC99; }

.process-net {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  margin: 0 auto 35px;
  background: #F8F7F7;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  position: relative;
  box-shadow: 3px -2px 3px #ccc; }

.process-word {
  position: absolute;
  top: 59px;
  left: 287px; }

.process-bottom {
  position: relative;
  z-index: 100; }

.process-hover {
  width: 200px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: none;
  box-shadow: 2px 2px 2px #ccc; }

.process-more-a {
  margin-left: 4px;
  position: relative;
  display: inline-block;
  width: 38px; }

.process-back {
  position: absolute;
  left: 100%;
  top: 20%; }

.process-detail {
  padding: 10px 10px 10px 10px;
  color: #333333; }

.process-act {
  background: #E7B5A7;
  color: white; }

.process-back-act {
  background: #F5E5E1; }

.product-list li {
  float: left;
  width: 600px;
  margin-right: 15px;
  overflow: hidden; }

.product-list li img {
  display: block;
  width: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0; }

#ground-img {
  position: relative; }

#ground-img .backimg {
  width: 115px;
  height: 115px; }

#ground-img .shade-img {
  width: 115px;
  height: 115px;
  position: absolute;
  top: 0;
  left: 0; }

#ground-img .shade-word {
  width: 115px;
  height: 115px;
  line-height: 115px;
  position: absolute;
  top: 0;
  left: 0; }

#ground-img .delete-image {
  position: absolute;
  right: 4px;
  top: -8px; }

.modal-body .cropper-area-logo .cropperImg {
  width: 350px;
  height: 350px; }

.breadcrumb > li + li:before {
  content: "\003e";
  padding: 0 5px 0 3px;
  color: #ccc; }

.breadcrumb .icon-home:before {
  content: "\f015";
  margin-right: 7px; }
