@charset "UTF-8";

.breadcrumb{
  margin-top: 0px;
}
.breadcrumb>li>a{
  color: #333;
}
.breadcrumb>li{
  color: #777;
}
.credit-apply .credit-title-bar:before, .credit-apply .credit-title-bar:after {
  content: '';
  display: table; }
.credit-apply .credit-title-bar:after {
  clear: both; }

/*.container {*/
  /*width: 1270px;*/
  /*padding-top: 60px;*/
  /*padding-bottom: 60px; }*/

.breadcrumb {
  padding-left: 0;
  background-color: #fff; }

.form-block {
  margin-bottom: 15px; }
  .form-block .control-label {
    margin-right: 8px;
    font-weight: 400; }
  .form-block .form-inline-left .form-group {
    padding: 0 6px; }
    .form-block .form-inline-left .form-group:first-child {
      padding-left: 0; }

.form-inline-right-w240 {
  width: 240px; }

.form-inline-left-mr240 {
  margin-right: 255px; }

.form-horizontal .tip {
  padding-top: 7px;
  color: #df4526;
  margin-bottom: 0; }

.checkbox-inline label {
  margin-bottom: 0; }

label {
  font-weight: 400; }

.form-horizontal .error {
  background-position: 0 center; }

.credit-title-bar {
  padding: 5px 15px;
  background-color: #e7e7e7; }
  .credit-title-bar .title {
    line-height: 30px;
    margin: 0;
    color: #df4526;
    font-size: 16px;
    font-weight: 700; }
  .credit-title-bar .btn {
    float: right; }

/*标题*/
.edit-bar {
  margin-bottom: 15px; }

.edit-bar-left {
  position: relative; }

.edit-bar-left > span {
  position: relative;
  padding: 0 15px 0 0;
  color: #e9432d;
  font-size: 16px;
  font-weight: 700;
  line-height: 2.5;
  background: #fff;
  z-index: 1; }

.edit-bar-left .line {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid #f4e6d4; }

.edit-bar .edit-bar-left .weight-line {
  border-top: 3px solid #f4e6d4; }

.edit-bar-sm .edit-bar-left > span {
  color: #000;
  font-size: 16px;
  font-weight: normal; }

.edit-bar .unread-tag {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  margin-left: 8px;
  line-height: 1;
  text-align: center;
  border-radius: 10px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  background-color: #e9432d;
  color: #fff;
  vertical-align: middle;
  margin-top: -3px; }

.btn {
  width: auto;
  height: auto; }

/*.btn-primary-oe {*/
  /*color: #fff;*/
  /*background-color: #df4526;*/
  /*border: 1px solid #cd3c1e; }*/
  /*.btn-primary-oe:focus, .btn-primary-oe.focus {*/
    /*color: #fff;*/
    /*background-color: #b7351b;*/
    /*border: 1px solid #5e1b0e; }*/
  /*.btn-primary-oe:hover {*/
    /*color: #fff;*/
    /*background-color: #b7351b;*/
    /*border: 1px solid #982c16; }*/
  /*.btn-primary-oe[disabled], .btn-primary-oe.disabled, fieldset[disabled] .btn-primary-oe {*/
    /*background-color: #df4526;*/
    /*border: 1px solid #cd3c1e; }*/

.btn-cancel-oe {
  color: #333;
  background-color: #ddd;
  border: 1px solid #ddd; }
  .btn-cancel-oe:focus, .btn-cancel-oe.focus {
    color: #333;
    background-color: #c4c4c4;
    border: 1px solid #9d9d9d; }
  .btn-cancel-oe:hover {
    color: #333;
    background-color: #c4c4c4;
    border: 1px solid #bebebe; }
  .btn-cancel-oe[disabled], .btn-cancel-oe.disabled, fieldset[disabled] .btn-cancel-oe {
    background-color: #ddd;
    border: 1px solid #ddd; }

/*.btn-default {*/
  /*color: #333;*/
  /*background-color: #ccc;*/
  /*border: 1px solid #fff; }*/
  /*.btn-default:focus, .btn-default.focus {*/
    /*color: #333;*/
    /*background-color: #b3b3b3;*/
    /*border: 1px solid #bfbfbf; }*/
  /*.btn-default:hover {*/
    /*color: #333;*/
    /*background-color: #b3b3b3;*/
    /*border: 1px solid #e0e0e0; }*/
  /*.btn-default[disabled], .btn-default.disabled, fieldset[disabled] .btn-default {*/
    /*background-color: #ccc;*/
    /*border: 1px solid #fff; }*/

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border: 1px solid #46b8da; }
  .btn-info:focus, .btn-info.focus {
    color: #fff;
    background-color: #31b0d5;
    border: 1px solid #1b6d85; }
  .btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border: 1px solid #269abc; }
  .btn-info[disabled], .btn-info.disabled, fieldset[disabled] .btn-info {
    background-color: #5bc0de;
    border: 1px solid #46b8da; }

.row-form-table {
  padding: 15px 10px;
  border: 1px solid #ddd; }

.table-vertical-middle > thead > tr > th, .table-vertical-middle > thead > tr > td, .table-vertical-middle > tbody > tr > th, .table-vertical-middle > tbody > tr > td {
  vertical-align: middle; }

.table-theme-default > thead > tr {
  background-color: #b3a9a8; }

.table-theme-default th{
  color: #333;
}

.table-text-center th, .table-text-center td {
  text-align: center; }
.table-text-center .text-left {
  text-align: left; }

.search-result-container {
  padding-top: 15px; }

.table-small > thead > tr > td, .table-small > thead > tr > th {
  padding: 4px 6px;
  font-size: 12px; }
.table-small > tbody > tr > td {
  padding: 4px 6px;
  font-size: 12px; }
.table-small .btn {
  padding: 3px 6px; }

.none-wrap {
  white-space: nowrap; }

.danger-color {
  color: red; }

.success-color {
  color: #5cb85c; }

.fail-color {
  color: #999; }

.info-color {
  color: #5bc0de; }

.warning-color {
  color: #f0ad4e; }

.primary-color {
  color: #df4526; }

.w-date-picker {
  background: #fff url("../img/datePicker.gif") no-repeat right center; }

.credit-apply {
  border: 1px solid #ddd; }
  .credit-apply .reason {
    padding-top: 7px;
    line-height: 20px;
    margin-bottom: 0; }
  .credit-apply .credit-title-bar {
    position: relative;
    padding: 0 15px;
    background-color: #f4e6d4; }
    .credit-apply .credit-title-bar .title {
      height: auto;
      line-height: 2.4;
      font-size: 18px;
      margin: 0;
      color: #333;
      text-align: center; }
    .credit-apply .credit-title-bar .time {
      position: absolute;
      right: 15px;
      top: 0;
      line-height: 43.2px;
      font-size: 14px;
      color: #666; }
    .credit-apply .credit-title-bar .title-sen {
      font-size: 16px;
      line-height: 2;
      margin: 0;
      font-weight: 700; }
    .credit-apply .credit-title-bar .lesson-info-wrap {
      float: right; }
      .credit-apply .credit-title-bar .lesson-info-wrap > span {
        margin-left: 20px;
        line-height: 32px; }
  .credit-apply .credit-user-profiles {
    list-style: none;
    font-size: 0;
    margin: 0;
    padding: 15px 0; }
    .credit-apply .credit-user-profiles > li {
      display: inline-block;
      font-size: 14px;
      padding: 0 20px; }
  .credit-apply .nav {
    margin: 0;
    list-style: none;
    font-size: 0;
    padding: 15px 0; }
  .credit-apply .nav-cell-box > li {
    display: inline-block;
    font-size: 14px;
    padding: 0 20px; }
    .credit-apply .nav-cell-box > li > span {
      display: inline-block;
      line-height: 20px;
      padding: 6px 0; }
  .credit-apply .nav-cell-box input {
    display: inline-block;
    width: 54px;
    margin-right: 4px;
    text-align: center;
    vertical-align: middle; }
  .credit-apply .nav-cell-box label.error {
    display: block;
    background-position: 0 center; }
  .credit-apply .nav-block-box > li {
    float: left;
    font-size: 14px;
    padding: 0 20px; }
    .credit-apply .nav-block-box > li > span {
      display: inline-block;
      line-height: 20px;
      padding: 6px 0; }
  .credit-apply .nav-block-box input {
    display: inline-block;
    width: 54px;
    margin-right: 4px;
    text-align: center;
    vertical-align: middle; }
  .credit-apply .nav-block-box label.error {
    display: block;
    background-position: 0 center; }
  .credit-apply .apply-reason {
    padding: 30px 15px;
    border: solid #ddd;
    border-width: 1px 0; }
  .credit-apply .form-horizontal {
    padding: 15px 15px 0; }
    .credit-apply .form-horizontal .warning {
      display: inline-block;
      padding-top: 5px;
      margin-left: 6px;
      color: red; }
    .credit-apply .form-horizontal .text {
      line-height: 30px;
      margin: 0; }
    .credit-apply .form-horizontal textarea {
      width: 80%;
      max-width: 600px; }
  .credit-apply .control-label {
    font-weight: 400; }
  .credit-apply .audit-result {
    padding: 15px 15px 0; }
  .credit-apply .btn-box {
    margin-bottom: 15px; }

.webuploader-container {
  position: relative;
  height: 34px; }
  .webuploader-container label {
    margin-bottom: 0; }

.webuploader-element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

.webuploader-pick {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  text-align: center;
  overflow: hidden; }

.webuploader-pick-disable {
  opacity: 0.6;
  pointer-events: none; }

.file-list {
  list-style: none;
  padding: 0;
  margin: 0; }
  .file-list .icon-remove-sign {
    display: none;
    color: #dd4814;
    font-size: 18px;
    margin-left: 8px;
    vertical-align: middle;
    cursor: pointer; }
  .file-list a {
    text-decoration: none; }
  .file-list > li {
    position: relative;
    line-height: 34px;
    margin-bottom: 10px; }
    .file-list > li:first-child {
      margin-bottom: 0; }
    .file-list > li .file-info {
      padding: 0 15px;
      border-radius: 5px; }
    .file-list > li:hover .file-info {
      background-color: #cecece; }
    .file-list > li:hover a {
      color: #dd4814; }
    .file-list > li:hover .icon-remove-sign {
      display: inline; }
  .file-list .pic-icon {
    margin-right: 6px; }
  .file-list .loading {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 34px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10; }
    .file-list .loading > img {
      display: inline-block;
      width: 24px; }

.file-list li p.error {
  line-height: 24px;
  margin: 0;
  color: red;
  padding-left: 15px; }

.file-list li p.progress {
  width: 100%;
  height: 8px;
  overflow: hidden;
  z-index: 50;
  margin: 0;
  border-radius: 0;
  background: none;
  -webkit-box-shadow: 0 0 0; }

.file-list li p.progress span {
  display: none;
  overflow: hidden;
  width: 0;
  height: 100%;
  background: #1483d8 url(../static/webuploader/progress.png) repeat-x;
  -webit-transition: width 200ms linear;
  -webkit-transition: width 200ms linear;
  transition: width 200ms linear;
  -webkit-animation: progressmove 2s linear infinite;
  animation: progressmove 2s linear infinite;
  -webkit-transform: translateZ(0); }

@-webkit-keyframes progressmove {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 17px 0; } }
@keyframes progressmove {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 17px 0; } }
.container-fluid {
  padding-right: 20px;
  padding-left: 20px; }

.table-theme-yellow> thead > tr{
  background-color: #f4e6d4;
}

.table-theme-yellow> thead th{
  color: #333;
}