@charset "UTF-8";
.credit-apply .credit-title-bar:before, .credit-apply .credit-title-bar:after {
  content: '';
  display: table; }
.credit-apply .credit-title-bar:after {
  clear: both; }

.none-wrap {
  white-space: nowrap; }

.primary-color {
  color: #cd3c1e; }

.danger-color {
  color: red; }

.success-color {
  color: #5bb75b; }

.fail-color {
  color: #999; }

/*标题*/
.edit-bar {
  margin-top: 15px;
  margin-bottom: 15px; }

.edit-bar-left {
  position: relative; }

.edit-bar-left > span {
  position: relative;
  padding: 0 15px 0 0;
  color: #e9432d;
  font-size: 16px;
  font-weight: 700;
  line-height: 2.5;
  background: #fff;
  z-index: 1; }

.edit-bar-left .line {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid #f4e6d4; }

.edit-bar .edit-bar-left .weight-line {
  border-top: 3px solid #f4e6d4; }

.edit-bar-sm .edit-bar-left > span {
  color: #000;
  font-size: 16px;
  font-weight: normal; }

.edit-bar .unread-tag {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  margin-left: 8px;
  line-height: 1;
  text-align: center;
  border-radius: 10px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  background-color: #e9432d;
  color: #fff;
  vertical-align: middle;
  margin-top: -3px; }

.form-custom-wrap .form-group {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
  white-space: nowrap; }

.table th, .table td {
  text-align: center; }

.table .text-left {
  text-align: left; }

.table .th-min160 {
  width: 160px; }
.table .select-w150 {
  width: 150px; }

.table-vertical-middle th, .table-vertical-middle td {
  vertical-align: middle; }

.table-theme-default > thead > tr {
  background-color: #f4e6d4; }
  .table-theme-default > thead > tr > th {
    font-weight: 700; }

.table-credit-setting > caption {
  padding: 8px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 700;
  background-color: #f4e6d4; }
.table-credit-setting > thead th {
  font-weight: 400; }

.table-has-sort a {
  text-decoration: none; }
.table-has-sort .icon-sort {
  margin-left: 4px; }
.table-has-sort .icon-sort-down:before {
  vertical-align: top; }
.table-has-sort .icon-sort-up:before {
  vertical-align: bottom; }

.table-has-caption > caption {
  padding: 8px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 700;
  background-color: #f4e6d4; }
.table-has-caption > thead th {
  font-weight: 400; }

.table-allow-credit select, .table-allow-credit input {
  margin: 0; }

@media (min-width: 768px) {
  .table-auto-button > thead > tr > th:last-child {
    width: 110px; }
  .table-auto-button button {
    margin-bottom: 8px; } }
@media (min-width: 1600px) {
  .table-auto-button > thead > tr > th:last-child {
    width: auto; }
  .table-auto-button button {
    margin-bottom: 8px; } }
.btn-handle-table + button {
  margin-left: 6px; }

.btn-handle-table:nth-child(3) {
  margin-top: 6px; }

.btn-oe {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 4px 12px;
  line-height: 20px;
  padding: 4px 12px;
  line-height: 1.42859;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  vertical-align: middle;
  border: 1px solid transparent;
  background-color: #ccc;
  text-align: center;
  font-size: 14px; }
  .btn-oe[disabled], .btn-oe.disabled, fieldset[disabled] .btn-oe {
    cursor: not-allowed;
    opacity: .65; }

.btn-primary {
  -webkit-filter: none;
  filter: none;
  color: #fff;
  background-color: #e9432d;
  border-color: #e53018; }
  .btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #cd2b16;
    border-color: #71180c; }
  .btn-primary:hover {
    color: #fff;
    background-color: #cd2b16;
    border-color: #ad2412; }
  .btn-primary[disabled], .btn-primary.disabled, fieldset[disabled] .btn-primary {
    background-color: #e9432d;
    border-color: #e53018; }

.btn-primary-oe {
  background-image: none;
  color: #fff;
  background-color: #e9432d;
  border-color: #e53018; }
  .btn-primary-oe:focus, .btn-primary-oe.focus {
    color: #fff;
    background-color: #cd2b16;
    border-color: #71180c; }
  .btn-primary-oe:hover {
    color: #fff;
    background-color: #cd2b16;
    border-color: #ad2412; }
  .btn-primary-oe[disabled], .btn-primary-oe.disabled, fieldset[disabled] .btn-primary-oe {
    background-color: #e9432d;
    border-color: #e53018; }

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc; }
  .btn-default:focus, .btn-default.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c; }
  .btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad; }
  .btn-default[disabled], .btn-default.disabled, fieldset[disabled] .btn-default {
    background-color: #fff;
    border-color: #ccc; }

.btn-default-oe {
  color: #333;
  background-color: #fff;
  border-color: #ccc; }
  .btn-default-oe:focus, .btn-default-oe.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c; }
  .btn-default-oe:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad; }
  .btn-default-oe[disabled], .btn-default-oe.disabled, fieldset[disabled] .btn-default-oe {
    background-color: #fff;
    border-color: #ccc; }

.btn-info-oe {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da; }
  .btn-info-oe:focus, .btn-info-oe.focus {
    color: #fff;
    background-color: #31b0d5;
    border-color: #1b6d85; }
  .btn-info-oe:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc; }
  .btn-info-oe[disabled], .btn-info-oe.disabled, fieldset[disabled] .btn-info-oe {
    background-color: #5bc0de;
    border-color: #46b8da; }

.btn-sm-oe {
  padding: 3px 10px;
  line-height: 1.5;
  font-size: 12px;
  border-radius: 3px;
  cursor: pointer; }
  .btn-sm-oe[disabled], .btn-sm-oe.disabled, fieldset[disabled] .btn-sm-oe {
    cursor: not-allowed;
    opacity: .65; }

.per_page_count {
  height: 30px; }

input[readonly], select[readonly], textarea[readonly] {
  cursor: pointer; }

.form-table-row {
  margin-bottom: 30px; }

.form-inline {
  margin-bottom: 15px; }

.checkbox-inline > span {
  display: inline-block; }
  .checkbox-inline > span + span {
    margin-left: 10px; }
.checkbox-inline label {
  display: inline-block;
  margin-bottom: 0;
  margin-top: 5px;
  vertical-align: middle; }

.require-star {
  margin-right: 4px;
  font-style: normal;
  color: red; }

.form-period-point > input {
  margin-bottom: 0;
  width: 32px;
  margin-right: 4px;
  margin-left: 4px;
  text-align: center; }

.control-group-inline {
  display: inline-block; }

.form-inline .form-group-inline {
  display: inline-block;
  padding: 0 6px;
  margin-bottom: 15px; }
.form-inline .control-mr {
  margin-right: 6px; }
.form-inline .form-inline-right {
  float: right;
  text-align: right;
  padding-right: 6px; }
  .form-inline .form-inline-right input {
    width: 160px; }

.form-inline-left-mr80 {
  margin-right: 100px; }

.form-inline-right-w80 {
  width: 80px; }

.form-inline-right-w240 {
  width: 240px; }

.form-inline-left-mr240 {
  margin-right: 260px; }

.control-w60 {
  width: 60px;
  text-align: right; }

.control-w64 {
  width: 64px;
  text-align: right; }

.credit-ratio {
  display: none;
  padding: 12px 0 0; }

.form-credit-ratio {
  width: 48px;
  text-align: center; }

.credit-apply {
  border: 1px solid #ddd; }
  .credit-apply .credit-title-bar {
    position: relative;
    padding: 0 15px;
    background-color: #f4e6d4; }
    .credit-apply .credit-title-bar .title {
      line-height: 2.4;
      font-size: 18px;
      margin: 0;
      text-align: center; }
    .credit-apply .credit-title-bar .time {
      position: absolute;
      right: 15px;
      top: 0;
      line-height: 43.2px;
      font-size: 14px;
      color: #666; }
    .credit-apply .credit-title-bar .title-sen {
      font-size: 16px;
      line-height: 2;
      margin: 0; }
    .credit-apply .credit-title-bar .lesson-info-wrap {
      float: right; }
      .credit-apply .credit-title-bar .lesson-info-wrap > span {
        margin-left: 20px;
        line-height: 32px; }
  .credit-apply .credit-user-profiles {
    list-style: none;
    font-size: 0;
    margin: 0 -5px 0 -5px;
    padding: 15px 0; }
    .credit-apply .credit-user-profiles > li {
      display: inline-block;
      font-size: 14px;
      padding: 0 20px; }
  .credit-apply .nav {
    margin: 0 -5px 0 -5px;
    list-style: none;
    font-size: 0;
    padding: 15px 0; }
  .credit-apply .nav-cell-box > li {
    display: inline-block;
    font-size: 14px;
    padding: 0 20px; }
  .credit-apply .nav-cell-box input {
    display: inline-block;
    width: 54px;
    text-align: center;
    vertical-align: middle; }
  .credit-apply .apply-reason {
    padding: 30px 15px;
    border: solid #ddd;
    border-width: 1px 0; }
  .credit-apply .form-horizontal {
    padding: 15px 0; }
    .credit-apply .form-horizontal .warning {
      display: inline-block;
      padding-top: 5px;
      margin-left: 6px;
      color: red; }
    .credit-apply .form-horizontal .text {
      line-height: 30px;
      margin: 0; }
    .credit-apply .form-horizontal textarea {
      width: 80%;
      max-width: 600px; }

.control-static {
  line-height: 30px;
  margin: 0; }

.container-fluid {
  padding-right: 20px;
  padding-left: 20px; }

.pagination_list > li a {
  display: block;
  color: #656565;
  text-decoration: none; }
.pagination_list > li.current, .pagination_list > li:hover {
  border-color: #e9432d;
  background-color: #e9432d; }
  .pagination_list > li.current a, .pagination_list > li:hover a {
    color: #fff; }
    .pagination_list > li.current a:focus, .pagination_list > li:hover a:focus {
      text-decoration: none; }
.pagination_list > li.disabled {
  border-color: #ccc;
  background-color: #fff; }
  .pagination_list > li.disabled a {
    color: #ccc;
    cursor: not-allowed; }

.page_tips {
  margin: 7px 0 0; }

.pagination_num .per_page_count {
  margin: 0;
  vertical-align: top; }

.statistics-table {
  padding: 100px 0; }
  .statistics-table .statistics-cell {
    display: table-cell;
    width: 1%;
    text-align: center; }
  .statistics-table .statistics-item {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    padding: 20px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e9432d));
    background: linear-gradient(#fff, #e9432d); }
    .statistics-table .statistics-item .inner {
      padding: 40px 0 20px;
      height: 60px;
      border-radius: 50%;
      background-color: #fff; }
    .statistics-table .statistics-item .number {
      font-size: 28px;
      font-weight: 700;
      color: #000; }
    .statistics-table .statistics-item .line {
      display: block;
      width: 96%;
      margin: 0 auto;
      height: 1px;
      background-color: #e9432d; }

.flow-example {
  margin-right: -10px;
  overflow: hidden; }
  .flow-example .flow-col {
    position: relative;
    float: left;
    padding-top: 150px;
    width: 80px;
    margin-right: 20px; }
    .flow-example .flow-col .flow-title {
      padding-right: 10px;
      color: #333;
      text-align: center;
      font-weight: 700; }
    .flow-example .flow-col .flow-step {
      position: relative; }
  .flow-example .flow-arrow {
    padding-top: 165px; }
  .flow-example .flow-arrow-pic {
    margin-top: -10px;
    height: 24px;
    background-position: 30% center;
    background-repeat: no-repeat; }
  .flow-example .flow-arrow-text {
    color: #008000;
    font-size: 12px;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center; }
  .flow-example .flow-arrow-text-hiddle {
    visibility: hidden; }
  .flow-example .flow-intro {
    margin-left: -20px;
    margin-right: -20px;
    text-align: center; }
  .flow-example .flow-complete .flow-title {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #fff; }
  .flow-example .flow-pass {
    position: absolute;
    top: 0;
    left: 0;
    height: 150px; }
    .flow-example .flow-pass .pass {
      width: 74px;
      height: 40px;
      line-height: 40px;
      background: no-repeat center;
      text-align: center;
      font-size: 12px;
      font-weight: 700;
      color: #fff; }
    .flow-example .flow-pass .pass-arrow {
      position: absolute;
      height: 70px;
      width: 74px;
      margin-top: 15px;
      background: no-repeat center top; }
      .flow-example .flow-pass .pass-arrow > span {
        position: absolute;
        left: 0;
        top: 20px;
        width: 74px;
        text-align: center;
        font-weight: 700;
        line-height: 30px;
        color: red;
        font-size: 12px; }
