
@charset "UTF-8";

.edit-bar {
    margin-bottom: 15px;
}

.edit-bar-left {
    position: relative;
}

.edit-bar-left > span {
    position: relative;
    padding: 0 15px 0 0;
    color: #e9432d;
    font-size: 16px;
    font-weight: 700;
    line-height: 2.5;
    background: #fff;
    z-index: 1;
}

.edit-bar-left .line {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid rgb(243, 213, 175);
}

.edit-bar-sm .edit-bar-left > span {
    color: #000;
    font-size: 16px;
    font-weight: normal;
}

.team-information {
    padding: 30px 15px;
    margin-bottom: 30px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
}

.team-information .form-group {
    margin-left: 0;
    margin-right: 0;
}

.team-information .control-label {
    float: left;
    width: 82px;
    font-size: 14px;
    font-weight: normal;
}

.team-information .control-label .icon-require {
    color: #e9442d;
    margin-right: 4px;
}

.team-information .input-box {
    margin-left: 82px;
    font-size: 14px;
}

.team-information .input-inline input {
    display: inline-block;
    width: auto;
    margin-right: 6px;
}

.team-input-inline .form-group {
    font-size: 0;
}

.team-input-inline .control-label {
    float: none;
    width: auto;
    vertical-align: top;
    margin-top: 5px;
}

.team-input-inline .input-box {
    display: inline-block;
    margin-left: 0;
}

.single-input .input-box {
    width: 42px;
}

.team-information .btn-group {
    width: auto;
}

.team-information .btn-group .btn + button {
    margin-left: 10px;
}

.team-information .btn-group .btn {
    width: auto;
    height: auto;
    border: 1px solid transparent;
    color: #fff;
}

.team-information .btn-group .clear-btn {
    background-color: #cecece;
}

.btn-reset-ui, .btn-reset-ui:hover, .btn-reset-ui:focus {
    width: auto;
    height: auto;
    border: 1px solid transparent;
    color: #fff;
}

.table-team-info .btn-reset-dropdown {
    width: auto;
    height: auto;
    background-color: #e9432d;
    color: #fff;
}

.btn-reset-dropdown.active.focus, .btn-reset-dropdown.active:focus, .btn-reset-dropdown.active:hover, .btn-reset-dropdown:active.focus, .btn-reset-dropdown:active:focus, .btn-reset-dropdown:active:hover, .open > .dropdown-toggle.btn-reset-dropdown.focus, .open > .dropdown-toggle.btn-reset-dropdown:focus, .open > .dropdown-toggle.btn-reset-dropdown:hover {
    border: 1px solid #e9432d;
    background-color: #e9432d;
    color: #fff;
}

.btn-reset-dropdown.active, .btn-reset-dropdown:active, .open > .dropdown-toggle.btn-reset-dropdown {
    border: 1px solid #e9432d;
    background-color: #e9432d;
    color: #fff;
}

.table-team-info > thead > tr {
    background-color: #f4e6d4;
}

.table-team-info > thead > tr > th {
    text-align: center;
}

.table-team-info > thead > tr > th, .table-team-info > tbody > tr > td {
    vertical-align: middle;
}

.table-team-info .btn-reset-dropdown:hover {
    border: 1px solid transparent;
}

.table-team-info .dropdown-menu {
    right: 0;
    left: auto;
}

.red {
    color: red;
}
.pagination-container{
    padding: 0 15px;
}


.pagination_list {
    float: left;
    overflow: hidden;
}

.num_page {
    float: right;
    overflow: hidden;
}

.pagination_list li {
    float: left;
}

.page_tips {
    float: left;
    color: #656565;
}

.per_page_count {
    float: right;
    color: #656565;
}

.pagination_list li.head_footer {
    width: 60px;
}

.pagination_list li {
    float: left;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 0px 2px;
}

.pagination_list li a {
    text-decoration: none;
    color: #656565;
}

.current {
    background: #e9432d;
}

.current a {
    color: #fff !important;
}
.form-margin .form-group + .form-group {
    margin-left: 15px;
}

.form-margin .form-group label {
    font-weight: normal;
}

@media (min-width: 1200px) {
    .container {
        width: 1270px;
    }
}