.up{
	display: block;
	width: 100%;
	min-width: 1000px;
	margin-top: -50px;
}

.down{
	width: 415px;
	overflow: hidden;
	margin: 0px auto;
}

.down p{
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-left: 30px;
}

/* .down p:first-child{
	background: url(../img/login2passwordicon.png) no-repeat left center;
	margin-top:0px;
	margin-bottom:15px;
} */



.down p:nth-child(1){
	background: url(../img/login2usernameicon.png) no-repeat left center;
	margin-top:0px;
	margin-bottom:15px;
}
.down p:nth-child(2){
	background: url(../img/login2passwordicon.png) no-repeat left center;
	margin-top:0px;
	margin-bottom:15px;
}

.down .alertbox{
	float: right;
	width:380px;
	height: 38px;
	overflow: hidden;
	/*margin-bottom:15px;*/
	border-radius: 5px;
	margin-right: 6px;
}



.down .alertbox .messageBox label.error{
	background: none !important;
	margin-top: -10px;
}


.down .alertbox .header{
	line-height: 40px;
	width: 100%;
	height:100%;
}

.down p input{
	width: 365px !important;
	height:22px;
	border: 1px solid #bdb9b3;
	line-height:22px;
	text-indent:5px;
	margin-top: 10px;
}

.down p input:hover {border-width: 1px;}

.down p input[type="submit"]{
	float: left;
	width: 176px !important;
	height: 34px;
	font-size: 14px;
	line-height: 34px;
	color: white;
	text-align: center;
	border-radius:5px;
	-webkit-border-radius:5px;
	background: #e9432d;
	cursor: pointer;
}

.down p a{
	float:right;
	margin-left:30px;
	color:#a1a1a1;
	line-height: 34px;
	color: #666;
	cursor: pointer;
}

.down .lastp{
	margin-top: 15px;
}





