.outer-wrap{
	padding:30px;
}
.nav-bread{
	color:#959595;
	padding-left: 16px;
}
.person-info-wrap{
	padding:10px 5px;
	border:1px solid #cecece;
	border-radius: 3px;
}
.head-img-wrap img{
	display: block;
	margin:0px 5%;
	height: 90%;
	width: 90%;
	border-radius: 50%;
}
.photo-opt{
	text-align:center;
	margin:10px 0px;
}
.photo-opt a{
	display: inline-block;
	font-size: 13px;
	color:#959595;
	height: 21px;
	line-height: 21px;
	text-decoration: none;
}
.photo-opt a:hover{
	color:#df4526;
}
.photo-opt .change-img{
	padding-right: 5px;
	border-right: 1px solid #959595;  
}
.sub-wrap{
	overflow: hidden;
}
.sub-wrap strong,.sub-wrap span{
	color:#959595;
	font-size: 14px;
}
.sub-wrap .scan-count{
	float: left;
	width: 50%;
	text-align: right;
	padding-right: 10px;
}
.sub-wrap .zan-count{
	float: left;
	width:50%;
	text-align: left;
	padding-left: 10px;
}
.guide_prj{
	overflow: hidden;
	height:35px;
	margin-top: 10px;  
}
.guide_prj strong{
	display: block;
	float: left;
	color:#959595;
	width: 40%;
}
.guide_prj p{
	float: left;
	color:#959595;
	height: 35px;
	width: 60%;
	font-size: 13px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.bar-scale strong{
	color:#959595;
}
.bar-scale i{
	font-weight: bold;
	color:#666;
}
.bar-bg{
	margin-top: 10px;
	position: relative;
	height: 4px;
	border-radius:2px;
	width: 100%;
	background: #ededed;
}
.bar-bg .bar-height-light{
	position: absolute;
	left: 0px;
	top:0px;
	height: 4px;
	border-radius: 2px;
	width: 50%;
	background:#fa7d3d;
}
.tec-btn-group{
	overflow: hidden;
}
.tec-btn-group .teacher-details-btn{
	float: left;
	padding:4px 9px;
	background: #d3d3d3;
	border:none;
	font-size: 13px;
}
.tec-btn-group .teacher-details-btn span{
	margin-left: 10px;
	font-size: 13px;
}
.tec-btn-group  .goback-btn{
	float: right;
	padding:4px 15px;
	background: #d3d3d3;
	border:none;
	font-size: 13px;
}
.tec-btn-group  .goback-btn:hover,.tec-btn-group .teacher-details-btn:hover{
	background: -webkit-linear-gradient(#e8422d, #ba3424); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#e8422d, #ba3424); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#e8422d, #ba3424); /* Firefox 3.6 - 15 */
	background: linear-gradient(#e8422d, #ba3424); /* 鏍囧噯鐨勮娉� */
	color:#fff;
}
.section-wrap{
	padding:40px 60px;
}
.col-head{
	background: #f4e6d4;
}
.common-title{
	position: relative;
}
.common-title h4{
	height: 14px;
	width: 80px;
	background: #fff;
	font-weight: bold;
}
.common-title span{
	position: absolute;
	left:0px;
	top:8px;
	width: 100%;
	height: 2px;
	background: #f3d5af;
	z-index: -1;
}
.form-group label{
	text-align: right;
	color:#666;
}
.form-wrap{
	margin:20px -173px 20px 20px;
	border:1px solid #cecece;
	border-radius: 5px;
	overflow: hidden;
	padding:10px 0;
}
.form-wrap .team-textarea{
	height: 40px;
	max-height: 100px;
	overflow-y: hidden;
	border:none;
	resize: none;
	padding:3px 0;
	color:#666;
}
.text-align-left{
	text-align: left;
}
.fieldset{
	padding:20px 0;
	border:1px solid #ccc;
	margin-top: 20px;
	// overflow: hidden;
	display: block;
	position: relative;
	height: 120px;
}
.fieldset legend{
	position: absolute;
	width: 12%;
	text-align: center;
	left: 50px;
	top:-10px;
	border:none;
	font-size: 14px;
	font-weight: bold;
	background: #fff;
	z-index: 98;
}