.wholebox{
	width:100%;
	height:658px;
	background:url(../img/studentloginbg_02.png) no-repeat center center;
	overflow: hidden;
}

.wholebox .content{
	width: 1240px;
	overflow: hidden;
	margin: 0 auto;
}

.wholebox .content .mainbox{
	float: right;
	width:484px;
	overflow: hidden;
}

.wholebox .content .mainbox h5{
	text-align: center;
	font-size:20px;
	color:#1b1b1b;
	font-weight: normal;
	margin-top:88px;
	line-height: 60px;
}

.wholebox .content .mainbox .box{
	width: 100%;
	overflow: hidden;
	border-radius: 5px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px solid #f2f2f2;
	min-height: 100px;
	background: white;
}

.wholebox .content .mainbox .box .redtop{
	width: 100%;
	height:4px;
	background:#de3b0a;
}

.wholebox .content .mainbox .box ul{
	width:338px;
	height:45px;
	margin: 0 auto;
	margin-top:32px;
	margin-bottom:21px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border-bottom: 2px solid #a1a1a1;
}

.wholebox .content .mainbox .box ul li{
	float: left;
	width: 50%;
	height: 45px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	line-height: 45px;
	font-size:16px;
	color:#1b1b1b;
	cursor: pointer;
	text-align: center;
}

.wholebox .content .mainbox .box ul li.current{
	border-bottom: 2px solid #de3b0a;
}

.wholebox .content .mainbox .box .fillboxone{
	width:338px;
	overflow: hidden;
	margin: 0 auto;
}

.wholebox .content .mainbox .box .fillboxone label.error{
	color: red;
	display: block;
	text-align: right;
	margin-top: -15px;
}

/*.wholebox .content .mainbox .box .fillboxone input{*/
	/*width: 100%;*/
	/*height:33px;*/
	/*margin-bottom:18px;*/
	/*border: none;*/
	/*border-bottom: 1px solid #dbdbdb;*/
	/*font-size: 14px;*/
/*}*/


.wholebox .content .mainbox .box .fillboxone p{
	width: 100%;
	margin-bottom:10px;
}

.wholebox .content .mainbox .box .fillboxone p a{
	/*float: right;*/
	color:#1b1b1b;
	font-size:14px;
	cursor: pointer;
	width: 100px;
	height: 52px;
	margin-bottom: 9px;
	position: relative;
	/* top: -55px;
	left: 230px; */
	top: -27px;
	left: 249px;
}


/*.wholebox .content .mainbox .box .fillboxone button{*/
	/*width: 100%;*/
	/*height:35px;*/
	/*margin-bottom:0px;*/
	/*text-align: center;*/
	/*line-height: 35px;*/
	/*background:#696969;*/
	/*box-sizing:border-box;*/
	/*-moz-box-sizing:border-box;*/
	/*-webkit-box-sizing:border-box;*/
	/*color: white;*/
	/*font-size:16px;*/
	/*cursor: pointer;*/
	/*position:relative;*/
	/*!* top:-30px; *!*/
/*}*/

.wholebox .content .mainbox .box .fillboxone button:last-child{
	background: white;
	border: 1px solid #696969;
	color:#696969;
	margin-bottom:56px;
}

.wholebox .content .mainbox .box .fillboxtwo{
	width:338px;
	/*overflow: hidden;*/
	margin: 0 auto;
	display: none;
	padding-bottom: 34px;
}

/*.wholebox .content .mainbox .box .fillboxtwo input{*/
	/*width: 100%;*/
	/*height:33px;*/
	/*margin-bottom:18px;*/
	/*border: none;*/
	/*border-bottom: 1px solid #dbdbdb;*/
	/*font-size: 14px;*/
/*}*/

.wholebox .content .mainbox .box .fillboxtwo .mutip{
	width: 100%;
	overflow: visible;
	margin-bottom:18px;
}
.wholebox .content .mainbox .box .fillboxtwo .mutip a{
	float: right;
	font-size: 15px;
	margin-top:13px;
	cursor: pointer;
	color:#1b1b1b;
	font-size:14px;
	margin-right: 15px;
}

.wholebox .content .mainbox .box .fillboxone .password,
.wholebox .content .mainbox .box .fillboxtwo .password{
	margin-bottom:0px;
}
.wholebox .content .mainbox .box .fillboxtwo p{
	width: 100%;
	margin-bottom:10px;
}
.wholebox .content .mainbox .box .fillboxtwo p a{
	/*float: right;*/
	color:#1b1b1b;
	font-size:14px;
	cursor: pointer;
	width: 100px;
	margin-bottom: 9px;
	position: relative;
	top: -28px;
	left: 249px;
	text-decoration: none;
}



.wholebox .content .mainbox .box .fillboxtwo .mutip input.yanzhengma{
	border: none;
	border-bottom: 1px solid #dbdbdb;
	width:185px;
	margin-right: 8px;
	float:left;
	font-size: 14px;
}

.wholebox .content .mainbox .box .fillboxtwo .mutip span{
	display: block;
	float: right;
	width:90px;
	height:33px;
	border: 1px solid #dbdbdb;
	margin-top:18px;
}


.wholebox .content .mainbox .box .fillboxtwo .mutip span.validate {
	width: 162px;
	height:35px;

	color:#1b1b1b;
	font-size:14px;
	cursor: pointer;
	position: relative;
	top: -71px;
	left: 0px;
}
.wholebox .content .mainbox .box .fillboxtwo .mutip span.validate a{
	margin-top: 7px;
	text-decoration: none;
}


.wholebox .content .mainbox .box .fillboxtwo button{
	/*width: 100%;*/
	/*height:35px;*/
	/*!* margin-top: 18px; *!*/
	/*margin-bottom:0px;*/
	/*text-align: center;*/
	/*line-height: 35px;*/
	/*background:#696969;*/
	/*box-sizing:border-box;*/
	/*-moz-box-sizing:border-box;*/
	/*-webkit-box-sizing:border-box;*/
	/*color: white;*/
	/*font-size:16px;*/
	/*cursor: pointer;*/
}

.wholebox .content .mainbox .box .fillboxtwo label.error{
	color: red;
	display: block;
	width: 100%;
	/* overflow: hidden; */
	text-align: right;
	margin-top: 0px;
}
.wholebox .content .mainbox .box .fillboxone button.close,
.wholebox .content .mainbox .box .fillboxtwo button.close{
	display: none;
}

.wholebox .content .mainbox .box .fillboxtwo .mutip label.error{
	color: red;
	float: left;
	width: 100%;
	overflow: hidden;
	text-align: right;
	margin-top: -15px;
}

.wholebox .content .mainbox .box .fillboxtwo button:last-child{
	background: white;
	border: 1px solid #696969;
	color:#696969;
	margin-bottom:52px;
	margin-top: 13px;
}

.phone-tips{
	color: red;
	font-size: 14px;
	/* margin-top: -3px; */
	position: relative;
	top: -13px;

}

.wholebox, #content{
    overflow: visible;
    height: 760px;
    background-size:cover;
}


.wholebox .content .mainbox .box .fillboxone .links,
.wholebox .content .mainbox .box .fillboxtwo .links{
	height: 30px;line-height: 30px;
	margin-bottom:57px;
	padding: 10px 5px 0px 5px;
}

.wholebox .content .mainbox .box .fillboxone .links a,
.wholebox .content .mainbox .box .fillboxtwo .links a{
	color: #de3b0a;
	text-decoration: underline;
}
.wholebox .content .mainbox .box .fillboxone .links .left,
.wholebox .content .mainbox .box .fillboxtwo .links .left{
	float: left;
}
.wholebox .content .mainbox .box .fillboxone .links .right,
.wholebox .content .mainbox .box .fillboxtwo .links .right{
	float: right;
}