.top{
	width: 100%;
	height:93px;
	overflow: hidden;
	background-color:#e9432d ;
	background-image:url(../../img/managetoplogo_01.png);
	background-repeat: no-repeat;
	background-position: left top;
}

.top ul{
	height: 31px;
	float: right;
	margin-top: 62px;
}

.top ul li{
	float: right;
	height: 31px;
	line-height: 31px;
	padding-right: 26px;
	font-size: 14px;
}

.top ul li span{
	float: left;
	height: 100%;
	width: 28px;
	overflow: hidden;
}

.top ul li a{
	color: white;
}
.top ul li i[class^="icon-"] {opacity: 1;}
